table.BiliTable {
	display: table;
}
@media only screen and (max-width:720px) {
	.BiliTable div {
		width: 100% !important; /* 不能用max-width替代 */
	}
	table .BiliTable div {
		width: 80vw !important;
	}
}
.BiliTable div {
	padding-top: 75%; /* 长宽比4:3 */
	position: relative;
}
.BiliTable iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
