.listen {
	display: inline-block;
	width: 30px;
	height: 24px;
	border: 0.5px solid #ddd;
	border-radius: 30px;
	background-color: #f1f3f4;
	margin: 5px 0;
	padding: 0 10px;
	font-size: 12px;
	line-height: 2;
}
.skin-minerva .listen {
	transform: scale(1.2);
	margin: 7.5px 5px;
}
.listen > audio {
	display: none;
}
.listen i {
	cursor: pointer;
}
.listen .fa-ellipsis-v {
	padding-left: 14px;
}
#listen-menu {
	margin-top: 5px;
	white-space: nowrap;
}
.skin-vector > #listen-menu {
	font-size: 14px;
}
#listen-menu a {
	color: #222;
	display: block;
}
