.page-LLWiki_扶뒬못 h1, .page-LLWiki_扶뒬못 .mw-indicators {
	display: none;
}
.mainpage-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.skin-vector .mainpage-panel {
	text-align: right;
}
.skin-minerva .mainpage-panel {
	width: 100%;
	text-align: center;
	padding-top: 1em;
	margin-bottom: -10px;
}
.skin-minerva .mainpage-panel table {
	display: inline-table;
	margin: 0;
}
.mainpage-panel th {
	min-width: 110px;
}
.mainpage-link {
	display: inline-block;
	padding: 2px 5px;
	background-color: #fffa;
	color: #c2006b80;
	border-radius: 5px;
	border: solid #c2006b80;
	border-width: 1px 2px 2px 1px;
	margin: 3px;
	font-size: small;
	font-weight: bold;
}
.mainpage-link:hover {
	text-decoration: underline;
}
h4.mainpage-section {
	border-bottom: 2px dashed #c2006b80;
	color: #c2006b80;
	padding: 0 0 3px 8%;
	font-style: italic;
}
.mainpage-flex {
	background-color: #ffe5f455;
	padding: 18px;
	border-radius: 5px;
	box-sizing: border-box;
}
.skin-vector .mainpage-flex {
	display: inline-block;
	width: 32%;
}
.skin-minerva .mainpage-flex {
	width: 100%;
	margin-bottom: 20px;
}
.skin-minerva .mainpage-flex:last-child {
	margin-bottom: 0;
}
.mainpage-flex-title {
	font-size: large;
	font-weight: bold;
	color: #c2006b;
	text-align: center;
	margin-bottom: 10px;
}
.skin-minerva .mainpage-flex table {
	display: block;
	margin: 0 1em;
	width: calc(100% - 2em) !important;
}
.mainpage-flex td {
	vertical-align: top;
}
.mainpage-flex td:first-child {
	width: 1.2em;
}
.skin-minerva .mainpage-flex dl {
	margin: 0.2em 0 0.5em;
}
.skin-minerva .mainpage-flex dd {
	margin-left: 2.4em;
}
.mainpage-tag {
	display: inline-block;
	width: 0.5em;
	height: 0.9em;
}
.skin-vector .mainpage-project {
	display: inline-block;
	width: 49%;
	margin-bottom: 40px;
}
.skin-minerva .mainpage-project {
	width: 100%;
	margin-bottom: 20px;
}
.mainpage-project-title {
	font-weight: bold;
	font-size: 20px;
	padding: 5px 5px 5px 20px;
	border-left: 30px solid;
	border-radius: 5px;
}
.mainpage-project-text {
	padding: 10px 8%;
}
