.sif-song-table {
	text-align: center;
}
.sif-song-table .tabs-dropdown {
	width: auto !important;
	white-space: nowrap;
}
/* 涉及JS的高度计算，提前加载tabs扩展的部分样式 */
.sif-song-table.tsticky .tabs-dropdown {
	margin-top: 10px;
	margin-bottom: 10px;
}
.sif-song-table.tsticky .tabs-container {
	z-index: 1;
}
.sif-song-table .tabs-label {
	transition-delay: 0.3s;
}
.sif-song-table .tabs-label:hover {
	transition-delay: 0s;
}
.sif-song-table .tabs-content {
	border-radius: 0 0 8px 8px;
	width: auto;
	min-width: 100%;
	left: 0;
	transition: height linear 0.3s;
	overflow: hidden;
}
.sif-song-table .tabs-dropdown:not(:hover) .tabs-content {
	height: 0 !important;
	border-bottom: none;
}
.sif-song-table .tabs-dropdown ul {
	padding: 0;
}
.sif-song-table .tabs-dropdown li:last-child {
	border-radius: 0 0 8px 8px;
}

.attrib-s {
	background-color: #ffc1c1;
}
.attrib-p {
	background-color: #c0ffbb;
}
.attrib-c {
	background-color: #b0e2ff;
}
