.member-symbol img {
	width: 20px !important;
	height: auto !important;
}
.member-popup .oo-ui-popupWidget-body-padded {
	margin: 1px 3px;
	font-size: small;
	text-align: center;
}

.member-symbol-image {
	display: none;
}
.member-popup img {
	width: 50px;
	height: 50px;
}
