/* stylelint-disable block-opening-brace-newline-before, block-opening-brace-newline-after,
	block-closing-brace-space-after, declaration-block-single-line-max-declarations,
	declaration-block-semicolon-newline-after, selector-list-comma-newline-after */

.cm-mw-pagename { text-decoration: underline; }

.cm-mw-matching { background-color: #ffd700; }

.cm-mw-skipformatting { background-color: #adf; }
.cm-mw-list { color: #08f; font-weight: bold; }
.cm-mw-doubleUnderscore, .cm-mw-signature, .cm-mw-hr { color: #08f; font-weight: bold; background-color: #eee; }
.cm-mw-indenting { color: #08f; font-weight: bold; }
.cm-mw-mnemonic { color: #290; }
.cm-mw-comment { color: #84a0a0; font-weight: normal; }
.cm-mw-apostrophes-bold, .cm-mw-apostrophes-italic { color: #08f; }

.cm-mw-tag-b, .cm-mw-tag-strong { font-weight: bold; }
.cm-mw-tag-i, .cm-mw-tag-em { font-style: italic; }
.cm-mw-tag-s, .cm-mw-tag-strike, .cm-mw-tag-del { text-decoration: line-through; }

pre.cm-mw-section-1 { font-size: 1.8em; line-height: 1.2em; }
pre.cm-mw-section-2 { font-size: 1.5em; line-height: 1.2em; }
pre.cm-mw-section-3 { font-weight: bold; }
pre.cm-mw-section-4 { font-weight: bold; }
pre.cm-mw-section-5 { font-weight: bold; }
pre.cm-mw-section-6 { font-weight: bold; }
.cm-mw-section-header { color: #08f; font-weight: normal; }

.cm-mw-template { color: #80c; font-weight: normal; }
.cm-mw-template-name { color: #80c; font-weight: bold; }
.cm-mw-template-name-mnemonic { font-weight: normal; }
.cm-mw-template-argument-name { color: #b0c; font-weight: bold; }
.cm-mw-template-delimiter { color: #80c; font-weight: bold; }
.cm-mw-template-bracket { color: #80c; font-weight: bold; }

.cm-mw-templatevariable { color: #f50; font-weight: normal; }
.cm-mw-templatevariable-name { color: #f50; font-weight: bold; }
.cm-mw-templatevariable-bracket { color: #f50; font-weight: normal; }
.cm-mw-templatevariable-delimiter { color: #f50; font-weight: bold; }

.cm-mw-parserfunction { font-weight: normal; }
.cm-mw-parserfunction-name { color: #a11; font-weight: bold; }
.cm-mw-parserfunction-bracket { color: #a11; font-weight: bold; }
.cm-mw-parserfunction-delimiter { color: #a11; font-weight: bold; }

.cm-mw-exttag-name { color: #290; font-weight: bold; }
.cm-mw-exttag-bracket { color: #290; font-weight: normal; }
.cm-mw-exttag-attribute { color: #290; font-weight: normal; }

.cm-mw-htmltag-name { color: #290; font-weight: bold; }
.cm-mw-htmltag-bracket { color: #290; font-weight: normal; }
.cm-mw-htmltag-attribute { color: #290; font-weight: normal; }

.cm-mw-link { color: #36c; font-weight: normal; }
.cm-mw-link-pagename { color: #36c; font-weight: normal; }
.cm-mw-link-tosection { color: #18e; font-weight: normal; }
.cm-mw-link-bracket { color: #36c; font-weight: normal; }
/* .cm-mw-link-text { } */
.cm-mw-link-delimiter { color: #36c; font-weight: normal; }

.cm-mw-extlink, .cm-mw-free-extlink { color: #36c; font-weight: normal; }
.cm-mw-extlink-protocol, .cm-mw-free-extlink-protocol { color: #36c; font-weight: bold; }
/* .cm-mw-extlink-text { } */
.cm-mw-extlink-bracket { color: #36c; font-weight: bold; }

.cm-mw-table-bracket { color: #e0e; font-weight: bold; }
.cm-mw-table-delimiter { color: #e0e; font-weight: bold; }
.cm-mw-table-definition { color: #e0e; font-weight: normal; }
.cm-mw-table-caption { font-weight: bold; }
